absl-py==2.3.1
aiofiles==24.1.0
albucore==0.0.24
albumentations==2.0.8
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
Automat==25.4.16
bcrypt==4.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
branca==0.8.1
bs4==0.0.2
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.4.11
constantly==23.10.4
contourpy==1.3.2
cryptography==45.0.4
crypt_tool==0.1.3
cssselect==1.3.0
cycler==0.12.1
Cython==3.1.3
defusedxml==0.7.1
Deprecated==1.2.18
easydict==1.13
et_xmlfile==2.0.0
fake-useragent==2.2.0
fastapi==0.116.1
filelock==3.18.0
Flask==2.2.5
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.59.0
fsspec==2025.7.0
geographiclib==2.0
geopy==2.4.1
gevent==25.5.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.3
grpcio==1.74.0
h11==0.16.0
h2==4.2.0
HackRequests==1.2
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.10
imageio==2.37.0
incremental==24.7.2
insightface==0.7.3
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
lazy_loader==0.4
lxml==5.4.0
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.3
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.0.0
mysqlclient==2.2.7
mysql-connector-python==9.4.0
narwhals==1.48.0
networkx==3.5
numpy==2.2.6
onnx==1.18.0
onnxruntime==1.22.1
opencv-contrib-python==4.11.0.86
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
paho-mqtt==2.1.0
pandas==2.3.0
paramiko==3.5.1
parsel==1.10.0
pefile==2023.2.7
pexpect==4.9.0
pillow==11.2.1
pip==25.2
platformdirs==4.4.0
plotly==6.2.0
prettytable==3.11.0
Protego==0.5.0
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pyecharts==2.0.6
pygame==2.6.1
PyGetWindow==0.0.9
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
PyNaCl==1.5.0
pynput==1.8.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.9.0
pypiwin32==223
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyreadline3==3.5.4
PyRect==0.2.0
pyscreen==0.3
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gnupg==0.5.4
python-gvm==26.4.0
python-whois==0.9.5
pytimeparse2==1.7.1
pytweening==1.2.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
pywin64==0.1.2
pywinauto==0.6.9
PyYAML==6.0.2
qrcode==8.2
queuelib==1.8.0
redis==6.2.0
referencing==0.36.2
requests==2.32.3
requests-file==2.1.0
retrying==1.3.4
rpds-py==0.26.0
safetensors==0.6.2
scapy==2.6.1
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
Scrapy==2.13.3
seaborn==0.13.2
selenium==4.33.0
sentry-sdk==2.35.1
service-identity==24.2.0
setuptools==80.9.0
simplejson==3.19.3
simsimd==6.5.1
six==1.17.0
Slowloris==0.2.6
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
spark-parser==1.8.9
SQLAlchemy==2.0.41
sqlite3-to-mysql==2.4.1
starlette==0.47.2
streamlit==1.47.0
streamlit_folium==0.25.0
stringzilla==3.12.6
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
text_blind_watermark==0.4.2
threadpoolctl==3.6.0
tifffile==2025.6.11
timm==1.0.19
tldextract==5.3.0
toml==0.10.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5.1
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
types-python-dateutil==2.9.0.20250708
typing_extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
uncompyle6==3.9.2
Unidecode==1.4.0
urllib3==2.4.0
uvicorn==0.35.0
w3lib==2.3.1
wandb==0.21.1
watchdog==6.0.0
watchfiles==1.1.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websockets==15.0.1
websocket-client==1.8.0
Werkzeug==3.1.3
whois==1.20240129.2
wrapt==1.17.2
wsproto==1.2.0
xdis==6.1.4
xyzservices==2025.4.0
zope.event==5.0
zope.interface==7.2
